<html>
	<head>
		<title>Create Trip</title>
	</head>
	<body>
		


		<h1>Create Trip</h1>
		<form action="create" method="POST">
			{% csrf_token %}
			<p>Destination: <input type="text" name="destination"></p>
			<p>Description: <input type="text" name="description"></p>
			<p>Travel from: <input type="date" name="travelfrom"></p>
			<p>Travel to: <input type="date" name="travelto"></p>
			<input type="submit" value="Create">
			{% if messages %}
			{% for message in messages %}
				{{message}}
			{% endfor %}
		{% endif %}

		</form>
	</body>
</html>